*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
@font-face {
    font-family: IranNastaliq, yekan ;
    src: url('../fonts/IranNastaliq.woff2');
    src: url('../fonts/Yekan.woff2');
}


.poster{
    margin: 50px auto;
    width: 60%;
}
.sub-poster {
    width: 100%;
    height: 40%;
    border:2px solid yellow;
    padding: 10Px;
}
.poster p{

    color: white;
    text-align: center;
    padding-top: 20px;
    line-height: 50px;
    font-family: 'IranNastaliq';
    font-size: 20px;
}

.poster q{
    color: white;
    font-family: 'yekan';
}
