*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

@font-face {
    src: url('../fonts/IranNastaliq.ttf');
    font-family:'IranNastaliq';
    font-style: normal;
  }
  @font-face {
    src: url('../fonts/Yekan.ttf');
    font-family:'Yekan';
    font-style: normal;
  }

.poster{
    margin: 50px auto;
    width: 60%;
}
.sub-poster {
    width: 100%;
    height: 40%;
    border:2px solid yellow;
    padding: 10Px;
}
.poster p{

    color: white;
    text-align: center;
    padding-top: 20px;
    line-height: 50px;
    font-size: 20px;
}

.poster q{
    color: white;
    font-family:'Yekan';
}
p{
    font-family: 'IranNastaliq';
}
